body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
    color: #fff;
    background: #17141a;
}

.drop_container {
    background-color: rgb(32, 32, 32);
    padding: 60px;
    border-radius: .5em;
    box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.25);
    display: grid;
    gap: 1em;
}

.drop_card, .drop_content {
    display: flex;
    align-items: center;
}

.drop_card{
    padding: 10px 50px;
    width: 300px;
    justify-content: space-between;
    background: #292829;
    border-radius: 3em;
}

img {
    max-width: 100%;
    height: auto;
}

.drop_img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: -2.5em;
}

.about {
    line-height: .7em;
    letter-spacing: 1px;
    margin: -10px 0 0 20px;
}

h1.name {
    font-size: 1.2rem;
    color: #e2b3fc;
    font-weight: 100;
}

span.profession {
    font-size: 0.9rem;
    color: #969596;
}

.sortable-drag {
    opacity: 0;
}